RHT_OCP4_MASTER_API=https://api.eu410.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.eu410.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.eu410.prod.nextcle.com
RHT_OCP4_DEV_USER=qgspbp
RHT_OCP4_DEV_PASSWORD=dc87b0ceaec24451a69f
RHT_OCP4_GITHUB_USER=datamohikaan
RHT_OCP4_QUAY_USER=boscp08
